CompileFlags:
  Add: 
    # - -Iincludes
    # - -Iincludes/Third_Party
    - -g 
    - -std=c++23 
    - -ggdb 
    - -Wall 
    - -Wextra 
    - -Wconversion 
    - -Wsign-conversion 
    - -pedantic-errors 
    - -Werror
  CompilationDatabase: build 

Diagnostics:
  ClangTidy:
    Add: [performance-*, modernize-*, readability-*]
    Remove: [modernize-use-trailing-return-type]
  UnusedIncludes: Strict

Index:
  Background: Build

---
If:
  PathMatch: .*\.cpp

Diagnostics:
  ClangTidy:
    Add: [modernize-*, readability-*]
    Remove: [modernize-use-trailing-return-type]
  UnusedIncludes: Strict
