main.out
main
test*


# Build directories
build/
.cache/
tools/
# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.out

# IDE-specific files
#.vscode/
# for saving tasks and settings

# docs generation
docs/

Log*
